<header>
  <div class="container">
    <div class="pageInfoContainer">
      <div class="icon-container">
        <ng-icon [name]="icon()" size="32px" color="white"/>
      </div>
      <div class="text-container">
        <h2>{{ title() }}</h2>
        <p>{{ subtitle() }}</p>
      </div>
    </div>
    @if (currentUser(); as user) {
      <div class="userContainer">
        <div class="userButton">
          <span class="userName">Olá, {{ user.sub }}</span>

          @if (user.authorities.includes('ROLE_ADMIN')) {
              <span class="badge">ADMIN</span>
          }
        </div>

        <a routerLink="/autores" class="autoresButton">Autores</a>

        <button class="loginButton" (click)="logout()">Sair</button>
      </div>
   } @else {
     <button class="loginButton" (click)="login()">Entrar</button>
   }
  </div>
</header>
