<header>
  <div class="container">
    <div class="icon-container">
      <ng-icon [name]="icon()" size="32px" color="white"/>
    </div>
    <div class="text-container">
      <h2>{{ title() }}</h2>
      <p>{{ subtitle() }}</p>
    </div>
    @if (currentUser(); as user) {
     <div class="user-info">
       <span>Olá, {{ user.sub }}</span>
       <span class="email">{{ user.email }}</span>

       @if (user.authorities.includes('ROLE_ADMIN')) {
          <span class="badge">ADMIN</span>
       }
     </div>

     <button class="loginButton" (click)="logout()">Sair</button>

   } @else {
     <button class="loginButton" (click)="login()">Entrar</button>
   }
  </div>
</header>
