<div class="container">
  <div class="card">
    <div class="loaderWrapper">
      <div class="spinner">
        <div class="spinnerRing"></div>
        <div class="spinnerRing"></div>
        <div class="spinnerRing"></div>
      </div>
    </div>

    <h1 class="title">Autenticando</h1>
    <p class="subtitle">Por favor, aguarde enquanto verificamos suas credenciais...</p>

    <div class="dotsWrapper">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </div>
</div>
