<div class="container">
  <div class="filterSection">
    <div>
      <form (ngSubmit)="onSubmitBySearch()" class="searchBox">
        <ng-icon class="searchIcon" name="lucideSearch"/>
        <input name="search" type="text" placeholder="Buscar por título" class="searchInput" [(ngModel)]="search"/>
      </form>
    </div>
  </div>

  <div class="genreFilterContainer">
    <div class="filterButtons">
      <ng-icon name="lucideFilter" class="filterIcon"/>
      <div class="genreButtons">
        @for (genre of genres; track $index) {
          <button
            (click)="booksService.toggleGenre(genre)"
            [class]="booksService.isSelected(genre) ? 'buttonActive' : 'buttonInactive'"> {{ genre | genre }}
          </button>
        }
      </div>
    </div>
    <button class="buttonActive action" (click)="onSubmitByGenre()">Filtrar</button>
  </div>

  <div class="resultsInfo">
    <p class="resultsText">
      Mostrando <span class="highlight">{{ books().length }}</span> de <span class="highlight">{{ totalBooks() }}</span> livros
    </p>
    <div class="addButtonContainer">
      <ng-icon class="addIcon" name="lucidePlus"/>
      <a class="addButton" routerLink="/book">Adicionar livro</a>
    </div>
  </div>

  <div class="books-container">
    @if (books().length > 0) {
      @for (book of books(); track book.id) {
        <app-book-item
           [book]="book"
           (edit)="onEdit($event)"
           (delete)="onDeleteRequest(book.id!)">
        </app-book-item>
      }
    } @else {
      <div class="empty">
          <p class="emptyText">Nenhum livro encontrado. Tente ajustar os filtros.</p>
      </div>
    }
  </div>
</div>

@if (deleteModalOpen()) {
  <app-confirmation-modal
    title="Excluir Livro"
    message="Tem certeza que deseja excluir este livro? Essa ação não pode ser desfeita."
    (confirm)="onConfirmDelete()"
    (cancel)="closeModal()"
  ></app-confirmation-modal>
}
